@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';}

main{
    height: 100vh;
    width: 100vw;
}

.text{
    display: inline-block;
    width: 60%;
    padding-left: 100px;
    margin-top:20%;
}

.links{
    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img{
    position: relative;
    top: 8%;
    right: 90px;
    width: 380px;
}

h1{
    width: 450px;
    font-size: 50px;
    line-height: 60px;
    color: #5D5D7D;
}

p{
    width: 540px;
    font-size: 25px;
    line-height: 35px;
    color: #5D5D7D;
    opacity: .6;
    margin: 12px 0;;
}

button{
    width: 269px;
    height: 55px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979958);
    border: none;
    border-radius: 30px;
    cursor: pointer;

    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}
button:hover{
    opacity: .8;}
button:active{
    opacity: .5}


header{
    margin: 24px 0 0 57px;
}
a{
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
}
a:hover{
    opacity: .4;}
a:active{
    opacity: .8;}





@media screen and (max-width:900px){
    .text{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    .links{
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }
    img{
        position: static;
        max-width: 90%;
    }
    header{
        display: none;
    }
    h1{
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }
    p{
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }
    button{
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width:350px){
    .text{
        height: 70%;
    }
}