@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body{
    background-color: #161032; color:snow; text-align: center; font-weight: bold; font-size: 40px; font-family: 'Unica One'
}

.Titulo{
    display: flex; gap: 200px; justify-content: center; font-size: 50px;
}

.vida{
    width: 100px; text-align: center; margin: 0;
}

button{
    padding: 1vh 5vw; font-size: 20px; font-family: 'Unica One'; border-radius: 30px; margin-top: 10vw; outline: thin double white;
}

#reset{
    position: fixed; bottom:20px; bottom: 10px; left: 10px; padding: 1vw; font-size: 1vw;
}

#mensagem{
    color: #63A12E
}