@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Unica+One&display=swap');


*{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(155, 129, 95);
        font-size: 1.5vw;
}

button{
    border: none;
    padding: 2vh 9vw;
    cursor: pointer;
    border-radius: 4vw;
    font-weight: bold;
    font-size: 1vw;
    margin: 15vh auto;
    position: absolute;
    right: 38vw;
    top: 70vh;
}

p{
    margin-left: 1vw;
    width: 30vw;

}

#intro{
    text-align: center; 
    font-size: 5vw;
}

main{
    display: flex;
    margin: 0 10vw 0 10vw;
    gap: 10vw;
}

